body {
  font-family: "Calibri";
  text-align: left;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width:700px) {
#wrapper {
  width: 50%;
  margin: 0 auto;
}
}

h2 {
  text-align: left;
}

.key-facts {
  padding-top: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0px;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0px 0px;
  padding: 0px 0px;
}

#biography {
  clear: both;
  padding-left: 15px;
}

.grace-hopper-portrait {
  padding-top: 40px;
}

.col {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 100%;
}

.big-quotes blockquote {
  padding-top : 20px;
}

.big-quotes blockquote p {
  background : none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  color : #5CAAAC;
  display : inline;
  font-family : Baskerville, Georgia, serif;
  font-style : italic;
  font-size : 20px;
  line-height : 46px;
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5);
}


.nav-link a {
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: lobster;
  background-color: #007b7d;
}

.navbar {
  background-color: #007b7d;
}

.navbar-brand {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  background-color: #007b7d;
  margin-top: 30px;
}

form {
  padding-bottom: 100px;
}

footer {
  padding-bottom: 30px;
  padding-left: 15px;
}

.form-inline label {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: inline;
}

#email-button {
  margin-top: 10px;
}

.form-inline input {
  min-width: 300px;
  margin-right: 10px;
  margin-top: 10px;
}

.form-inline label {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 0px;
  justify-content: left;
  width: 100%;
  display: inline;
}
