body {
  font-family: "Calibri";
  text-align: left;
  }


.home-page-image {
  width: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#wrapper {
  width: 50%;
  max-width: 1024px;
  margin: 0 auto;
}

#facts-and-quotes {
  float: left;
  width: 50%;
  margin-top: 8%;
  padding-left: 15px;
  padding-right: 15px;
}

#biography {
  clear: both;
  padding-left: 15px;
}

h2 {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0px;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0px 0px;
  padding: 0px 0px;
}

img {
  width: 70%;
  margin-top: 30px;
}

figcaption {
  text-align: left;
}

/*For desktop*/
@media screen and (min-width:800px)
  {
  #portrait {
    float: right;
    width: 50%;
  }

  #facts-and-quotes {
    float: left;
    width: 50%;
  }

  img {
    margin-left: 80px;
  }
}
@media screen and (min-width:1300px)
  {
body {
  background-image: url("images/Ada_Lovelace_drawing.jpg"),url("images/Ada_Lovelace_drawing.jpg");
  background-repeat:repeat-y,repeat-y;
  background-position: left,right;
  }
  }

.label-link {
margin: 10px;
text-decoration: none;
color: #df1b27;
font-style: italic;
font-size: 20px;
font-weight: bold;
font-family: lobster;
background-color: #f495bf;
}
}

.label-link a {
  text-decoration: none;
  color: #df1b27;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: lobster;
  background-color: #f495bf;
  }

.label-link a:hover {
background-color: hotpink;
text-decoration: underline;
}

.navbar {
  background-color: #f495bf;
}

.nav {
  background-color: #f495bf;
}
.navbar-brand {
  color: #df1b27;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  background-color: #f495bf;
  margin-top: 30px;
}

form {
  padding-bottom: 100px;
}

footer {
    padding-bottom: 30px;
    padding-left: 15px;
}

.col {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 100%;
}

.form-inline label {
  font-size: 20px;
  font-weight: bold;
  color: red;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: inline;
}

#send-button {
  margin-top: 10px;
}

.form-inline input {
  min-width: 300px;
  margin-right: 10px;
  margin-top: 10px;
}

.form-inline label {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 0px;
  justify-content: left;
  width: 100%;
  display: inline;
}
