h1 {
  color: #df1b27;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.navbar {
  background-color: #f495bf;
}

.nav-link {
  color: #df1b27;
  font-family: lobster;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand {
  color: #df1b27;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
}

.label-link {
  margin: 10px;
}

.label-link a {
  text-decoration: none;
  color: #df1b27;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: lobster;
  background-color: #f495bf;
}

.label-link a:hover {
  background-color: hotpink;
  text-decoration: underline;
}

h2 {
  text-align: left;
}

body {
  font-family: "Calibri";
  text-align: left;
  margin-top: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0px;
}


#facts-and-quotes {
  margin-top: 8%;
}

#wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

#facts-and-quotes {
  float: left;
  width: 50%;
  margin-top: 8%;
}

#biography {
  clear: both;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0px 0px;
  padding: 0px 0px;
}

img {
  width: 65%;
  margin-top: 30px;
}

figcaption {
  text-align: left;
}

@media screen and (min-width:800px)

/*For desktop*/
  {
  #portrait {
    float: right;
    width: 50%;
  }

  #facts-and-quotes {
    float: left;
    width: 50%;
  }
}

footer {
    padding-bottom: 30px;
}

.home-page-image {
  width: 100%;
}

.col {
  padding: 30px;
}

.form-inline label {
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 100%;
  justify-content: flex-start;
  padding: 10px;
}

.form-inline input {
  min-width: 300px;
  margin-right: 10px;
}

form {
  padding-bottom: 100px;
}
